@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 1vw;
  height: 1vh;
}

*::-webkit-scrollbar-thumb {
  background-color: #777;
}

*::-webkit-scrollbar-track {
  background-color: #555;
}

body {
  font-family: Montserrat, sans-serif;
  background: #222;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-rows: 5rem 7rem 14rem 23rem 5rem;
  grid-template-areas:
    "header header header"
    ". userlist userlist"
    ". hero hero"
    ". videolist videolist"
    "footer footer footer";
}

header {
  grid-area: header;
  background-color: #222;
  display: grid;
  grid-template-columns: inherit;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 2rem 0 1rem 0;
  z-index: 10;
}

.header-content {
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content h2 {
  color: white;
}

.header-content svg {
  fill: #999;
}

.user-list {
  grid-area: userlist;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
}

.user-list .user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-right: 1rem;
  position: relative;
}

.user-list .active-user .active-holder {
  height: 1.2rem;
  width: 1.2rem;
  background-color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 1.5rem;
}

.user-list .active-user .active-holder .active {
  height: 1rem;
  width: 1rem;
  background-color: #60a5fa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.user-list .active-user .active svg {
  width: 50%;
}

.user-list .user h6 {
  color: #999;
  font-weight: 400;
}

.user-list .img-holder {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid transparent;
}

.user-list .img-holder img {
  width: 95%;
  height: 95%;
  object-fit: cover;
  border-radius: 50%;
}

.user-list .active-user .img-holder {
  border: 0.1rem solid #60a5fa;
}

.hero {
  grid-area: hero;
  display: grid;
  grid-template-columns: repeat(3, minmax(18rem, 1fr));
  grid-template-rows: 10rem;
  grid-gap: 1rem;
  align-content: center;
  /* margin-right: 1rem; */
  overflow-x: auto;
}

.hero .hero-item {
  color: white;
  border-radius: 1rem;
  position: relative;
  /* margin-right: 1rem; */
}

.hero .hero-item:last-child {
  margin-right: 1rem;
}

.hero .hero-item:hover {
  /* box-shadow: 0 0 10px white; */
  cursor: pointer;
}

.hero .hero-img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
}

.hero .hero-info {
  width: 50%;
  position: absolute;
  top: 0.8rem;
  left: 1rem;
}

.hero .hero-info h6 {
  font-weight: 300;
}

.hero .hero-info h5 {
  font-weight: 400;
}
.hero .hero-info h3 {
  font-weight: 500;
  margin-bottom: 1rem;
}

.video-section {
  grid-area: videolist;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.video-section h3 {
  color: white;
}

.video-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(20rem, 1fr));
  grid-template-rows: 8rem 8rem;
  grid-gap: 1rem;
  overflow-x: auto;
  padding: 1rem 0 1rem 0;
}

.video-list .video {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.video-list .video:hover {
  /* box-shadow: 0 0 10px white; */
  cursor: pointer;
  /* border-radius: 1rem; */
}

.video-list .video img {
  height: 100%;
  width: 40%;
  object-fit: cover;
  border-radius: 1rem;
}

.video .video-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.video .video-info h4 {
  font-weight: 600;
  color: white;
}

.video .video-info h5 {
  font-weight: 500;
  color: #999;
}

.video-list .video .video-metadata {
  font-size: 0.7rem;
  color: #999;
}

footer {
  grid-area: footer;
  background-color: #444;
  display: grid;
  grid-template-columns: inherit;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
}

.footer-container {
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container div .info {
  color: #999;
  font-weight: 500;
}

footer svg {
  fill: #999;
  width: 2rem;
}

.active[data-footer-item] svg {
  fill: #8b5cf6;
}

.active[data-footer-item] .info {
  color: white;
}

footer .footer-container a {
  text-decoration: none;
}

@media only screen and (max-width: 350px) {
  .footer-container [data-footer-item] svg {
    width: 1.5rem;
  }

  .footer-container [data-footer-item] .info {
    font-size: 0.6rem;
  }
}

@media only screen and (min-width: 1050px) {
  .hero {
    grid-template-rows: 12rem;
  }
}
