@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 1vw;
  height: 1vh;
}

*::-webkit-scrollbar-thumb {
  background-color: #777;
}

*::-webkit-scrollbar-track {
  background-color: #555;
}

body {
  font-family: Montserrat, sans-serif;
  background: #222;
  display: grid;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-rows: 5rem auto 5rem;
  grid-template-areas:
    ". header ."
    ". main ."
    "footer footer footer";
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: inherit;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #222;
  padding: 2rem 0 1rem 0;
  z-index: 10;
}

.header-content {
  grid-column: 2/3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

header svg {
  fill: white;
}

header h2 {
  color: white;
}

main {
  grid-area: main;
  /* display: flex; */
  /* flex-direction: column; */
  /* overflow: scroll; */
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 20rem;
  grid-gap: 1rem;
  margin: 1rem 0;
}

main article {
  /* width: 100%; */
  background-color: #444;
  /* margin: 0 0 2rem 0; */
  border-radius: 1rem;
}

main article .article-img {
  width: 100%;
  border-radius: 1rem;
  height: 15rem;
  background-size: cover;
}

main article .article-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

main article .article-info h4 {
  margin-right: auto;
  color: white;
  font-weight: 500;
}

main article .article-info div {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main article .article-info div:hover {
  background-color: #aaa;
}

main article .article-info .heart {
  background-color: #f87171;
}

main article .article-info .send {
  background-color: #8b5cf6;
  position: relative;
}

main article .article-info svg {
  width: 1rem;
  fill: white;
}

main article .article-info .send svg {
  transform: rotate(-40deg);
  position: absolute;
  left: 0.6rem;
  top: -0.2rem;
}

footer {
  grid-area: footer;
  background-color: #444;
  display: grid;
  grid-template-columns: inherit;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 1rem 0;
}

.footer-container {
  grid-column: 2/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container div .info {
  color: #999;
  font-weight: 500;
}

footer svg {
  fill: #999;
  width: 2rem;
}

.active[data-footer-item] svg {
  fill: #8b5cf6;
}

.active[data-footer-item] .info {
  color: white;
}

footer .footer-container a {
  text-decoration: none;
}

@media only screen and (min-width: 750px) {
  main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
    grid-auto-rows: 20rem;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
}

@media only screen and (max-width: 350px) {
  main {
    grid-auto-rows: 16rem;
  }

  main article .article-img {
    height: 12rem;
  }

  main article .article-info .send svg {
    position: absolute;
    left: 0.4rem;
    top: -0.4rem;
  }

  main article .article-info h4 {
    font-size: 0.7rem;
  }

  main article .article-info div {
    height: 1.5rem;
    width: 1.5rem;
  }

  main article .article-info svg {
    width: 0.8rem;
  }

  .footer-container [data-footer-item] svg {
    width: 1.5rem;
  }

  .footer-container [data-footer-item] .info {
    font-size: 0.6rem;
  }
}
